 .navbar-nav li a {
    color: aliceblue;
}
.carousel-inner img {
    width: 100%;
    height: 40em;
}
.carousel {
    margin-bottom: 2em;
}
.card-group {
    gap: 2em;
    margin-left: 1em;
    margin-right: 1em;
}
.card img {
    border-radius: 50px;
}
